*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    color: white;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

#main{
    padding: 0 2%;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: black;
}

#nav{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
    border-bottom: 3px solid rgb(173, 173, 173); 
    font-size: 1.8vh;
    position: relative;
    height: 14vh;
}


#logo img{
    /* object-fit: contain; */
    height: 6vw;
    width: 6vw;  
    filter: invert(1);
}

#nav a{
    text-decoration: none;
    color: white;
}

#page2{
    background-color: blue;
    height: 100vh;
    width: 100%;
}

#nav #links{
    width: 20vw;
    display: flex;
    justify-content: space-between;

}

#nav #sign{
    width: 14%;
    display: flex;
    padding: 0 2%;
    align-items: center;
    justify-content: space-between;
}

#sign i{
    font-size: 1.5vw;
    border: 2px solid white ;
    padding: 10%;
    border-radius: 50%;
}

#hero{
    height: 70vh;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

#hleft{
    display: flex;
    height: 100%;
    width: 45%;
    /* background-color: darkcyan; */
    /* padding: 3% 0;  */
    position: relative;
    flex-direction: column;
}

#hleft #up{
    height: 70%;
    display: flex;
    /* background-color: yellow; */
    flex-direction: column;
}

#down{
    margin-top: 2%;
    height: 30%;
    /* background-color: greenyellow; */
    border-top: 3px solid rgb(173, 173, 173);
    padding-top: 8%;
    display: flex;
    justify-content: space-between;
}

.dh2{
    font-size: 1.2vw;
    font-weight: 400;
}

#dright{
    text-align: right;
}



#hleft h1{
    font-size: 6.4vw;
    font-weight: 400;
    letter-spacing: -0.3vw;
    line-height: 1.2;
}

span img{
    height:6.2vw;
    border: 7px solid black;
    border-radius:50%;
    position: absolute;
}

#s1{
    left: 0;
    /* top: 50%; */
}

#s2{
    left: 4.8vw;
    z-index: 3;
    /* top: 50%; */
}
   
#s3{
    left: 9.6vw;
    z-index: 5;
    /* top: 50%; */
}
   
#s4{
    position: absolute;
    left: 16.8vw;
    
}

#hright{
    height: 100%;
    width: 45%;
    /* background-color: aqua; */
    /* padding: 3% 0;  */
    position: relative;
}

#hright img{
    width: 100%;
    border-radius: 1.8vw;
}

#hright #overlay{
    background-color: black;
    width: 20%;
    height: 10%;
    position: absolute;
    left: 80%;
    top: 0;
    z-index: 6;
    border-bottom-left-radius: 1vw ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 6%;
}

#hright #book{
    width: 90%;
    position: absolute;
    height: 10%;
    background-color: rgba(109, 109, 109, 0.4);
    filter: blur(1);
    z-index: 8;
    transform: translate(-50%,-50%);
    top: 95%;
    left: 50%;
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    padding-right: 2%;
    border: 3px solid rgb(190, 190, 190);
    border-radius: 40px;
}
#book i{
    font-size:1.8vw ;
}